	/**多种选择器介绍：通用*{}，类型 p{}，类.classname{},代码 #id{}，子选择器 div>p{},后继选择器 div p{}，多个选择器可以用逗号分隔。
	*元素：head，body，div，h1，ul，li，ol，p，b，span，table，tr，td，input，a，image，br，pre，i，
	*属性：margin，padding，position,background,background-color,width,height,border,color,border-style,border-widht,border-color,
	*line-height,vertical-align,align,text-align,font,font-size,float,display,visible,overflow
	**/
	*{
       margin:0px;
       padding:0px;
	}
	h1,h2,h3{
		text-align: center;
	}
	body{
		background-color:#ffFFFF;
		color:#000;
		opacity: 0;
		animation: page-fade-in 1s forwards;
	}
	@keyframes page-fade-in {
		0% {
		opacity: 0
		}
		100% {
		opacity: 1
		}
	}
	/**
	@keyframes page-scale-up {
    0% {
        opacity: 0;
        transform: scale(.9)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}
@keyframes page-scale-down {
    0% {
        opacity: 0;
        transform: scale(1.8)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}
@keyframes page-slide-top {
    0% {
        opacity: 0;
        transform: translateY(-100%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes page-slide-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes page-slide-left {
    0% {
        opacity: 0;
        transform: translateX(-100%)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
@keyframes page-slide-right {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}**/
	/*body.active{opacity: 1;}overflow: auto;*/
	.header{
		height:80px;
		position:relative;
		
	}
	.mainarea{
		position:relative;
		height:95%;
		/*/height:700px;
		margin-left:10px;
		width:100%;border-width:1px 1px 1px 1px;border-style:solid;
		
		border-color:#eeb0b0;*/
		background:#ffffff;
		
	}
	/**顶部系统条	*/
	.topbar{
		background-color:rgba(0, 101, 105, 1);/*国电绿*/
		height:80px;
		line-height:80px;
		vertical-align:center;
	}
	/**顶部系统椭圆形按钮	*/
	.topbar-bigbutton{
		float:right;
		border-radius: 50%;
		border: none;
		background:#008B8B;
		height:60px;
		width:80px;
		margin-right:30px;
		position:relative;
		font-size:14px;
		color:white;
		margin-top:10px;
	}
	.topbar #app_name{
		position:relative;
		float:left;
		left:15px;
		font-size:30px;
		font-style:bold;
		color:white;
	}
	.topbar #img_yonghu{
		position:relative;
		float:left;
		left:40px
	}
	.topbar #yhname{
		position:relative;
		float:left;
		left:50px;
		color:white;
		font-size:12px;
	}
	.topbar #yhout{
		position:relative;
		float:left;
		left:90px;
		color:white;
		font-size:12px;
	}/* border-radius */
	.navigation{
		vertical-align:center;
		overflow:auto
	}
	/*导航条（水平）*/
	.row-navigation{
		
		vertical-align:center;
		width:100%;
		height:40px;
		line-height: 40px;
		min-width:500px;
		
		/*text-align:center;border: solid  rgba(8, 177, 106, 0.5) 2px;
		border-radius: 10px;background:#adf7b8;*/
	}
	select{
		height: 30px;
		line-height: 30px;
	}
	.rowlay{
		width:100%;
		text-align: center;
		font-size:16px;
		background:#adf7b8;
		vertical-align:center;
		height:35px;
		line-height: 35px;
		/*margin-bottom:5px;*/
	}
	.rowlay select{
		font-size:18px;
		width:253px;
		vertical-align:-10%;
	}
	/*.glyphicon{
		margin-left:20px;
		margin-right: 20px;
	}*/
	.count_info,.pc-nav{
		display:inline;
		vertical-align:center;
		font-size: 18px;
		left:-20px;
	}
	.count_info li,.pc-nav li {
		display:inline;
		top:5px;
		padding:0px;
		vertical-align:center;
		/*margin:5px;*/
	}
	.pagecard{
		background:#eee0e0;
		vertical-align:center;
		height:30px;
		line-height:30px;
		left:20px;/* left-side*/
	}
	#chuangti{
		position: relative;
	}
	.pc-footer{
		background-color:rgba(0, 101, 105, 1);
	}
	.pc-footer li {
		display: inline;
		color: #FFFFFF;
		padding: 2px 3px;
		text-decoration: none;
		vertical-align:center;
	} 
	li a,table a {
		/*/*display: inline;		hzalign:center;*/
		color: #000;
		padding: 2px 3px;
		margin: 0px 10px;
		text-decoration: none;
		border-radius:5px;
	}
	li{
		/*display: inline;hzalign:center;*/
		color: #000;
		padding: 2px 3px;
		margin: 0px 0px;
		
		text-decoration: none;
	}
	/* 鼠标移动到选项上修改背景颜色 margin:5px;*/
	li a:hover {
		background-color: #555;
		/*color: white;*/
	}
	table {
		/*设置相邻单元格的边框间的距离*/
		border-spacing: 0;
		/*表格设置合并边框模型*/
		border-collapse: collapse;
		text-align: center;
	}
	table a:hover {
		background-color: #555;
		color: white;
	}
	th,td{
        border:1px solid black;
        text-align:center;
        line-height:center;
        /*width:100px;
		height:30px;*/
		font-size:14px;
    }
	.table{
		border:0px;
		border-collapse:1px;/*/cellspacing cellpadding  我们可以用table的border-collapse:collapse;属性来代替cellspacing="0"，用th,td的padding:0;属性来代替cellpadding="0"。*/
		border-collapse:4px;
		background-color:#fff;
		text-align:center;
	}
	.table-lable{
		color:#0000b0;
		font-size:20px;
		/*line-height:50px;
		margin-left:20px;*/
		text-align: right;
	}
	.leftmenu{
		position:relative;
		float:left;
		top:20px;
		width:100%;
		height:97%;/*height:700px;*/
		/*border-style:solid;
		border-width:1px 1px 1px 1px;
		border-color:rgba(8, 177, 106, 0.5);#705e5e;*/
		overflow:auto;
		min-width:100px;
		/*background-color: rgba(0, 101, 105, 1); #eee0e0;*/
	}
	.tree{
		/*min-width:200px;*/
		height:60%;
		overflow:auto;
		border-style:solid;
		border-width:1px 1px 1px 1px;
		border-color:rgba(8, 177, 106, 0.5);/*#eeb0b0;*/
		background-color: rgba(0, 101, 105, 1);
	}
	.tree1{
		/*min-width:200px;*/
		height:40%;
		overflow:auto;
		border-style:solid;
		border-width:1px 1px 1px 1px;
		border-color:rgba(8, 177, 106, 0.5);/*#eeb0b0;*/
		background-color: rgba(0, 101, 105, 1);
	}
	/* KeFuDiv */
	.KeFuDiv{
		position:absolute;
		height:50px;
		width:500px;
		background: #FFFF00;
		color:#000;
		font-size:16px;
		text-align: center;
		cursor: pointer;
		border-radius: 50%;
		vertical-align:center;
		overflow:hidden;
	}
	.KeFuDiv p{
		line-height: 50px;
		font-weight:bold;
	}
	#realdata_gaugechart,#realdata_chart{
		width: 90%;
		height: 90%;
		background-color: rgb(189, 187, 187);
		MARGIN-RIGHT: auto; 
		MARGIN-LEFT: auto;
		margin: 10px;/**/
	}
	#realdata_chart1,#realdata_maxvalOfReal,
	#realdata_rateOfNormal,#realdata_realdata,
	#realdata_maxvalOfDay{
		width: 90%;
		height: 90%;
		background-color: rgb(212, 209, 209);
		margin: 20px;
	}
	.button{
		width:60px;
		font-size:18px;
		background-image:url(../res/jianbian_orange.jpg);
	}
	/**多标签页面格式*/
	#h2,#h1,#h3,#h4,#h5 {
		border-top: solid cornflowerblue 1px;
		border-left: solid cornflowerblue 1px;
		border-right: solid cornflowerblue 1px;
		width: 150px;
		height: 40px;
		margin: 0;
		float: left;
		text-align: center;
		line-height: 40px;
	}
	.charttab-head{
		display: inline;
	}
	.selected {
		background-color: rgba(0, 101, 105, 1);
		width: 50px;
		color:white;
		border-radius: 6px;
		height: 35px;
		line-height: 35px;
		border: solid #222 0px;
	}
	/*.tab-content {
		border: solid cornflowerblue 1px;
		width: 100%;
	}
	.tab-div {
		display:none;
	}
	.tab-content .tab-div{
		display: none;
		}
	.tab-content .show{
		display: flex;
	}*/
	.parent{
		display: flex;
		overflow: auto;
	}
	.column{
		flex: 1;
		box-align:center;
	}
	.column+ .column{margin-left: 20px;}
	.zlchart{
		margin-top:30px;
		width:300px;
		height:300px;
		border: solid cornflowerblue 0px;
	}
	.zltable{
		margin-top:100px;
	}
	.input ,.output{
		width:805px;
		height:342px;
		background-color: #555;
		margin-bottom: 10px;
	}
	.donghuan{
		width:160px;
		height:170px;
		border: solid #222 0px;
	}
	#alert_info{
		position:absolute;
		left:0;
		top:0;
		white-space:nowrap; 
		line-height: 50px;
		font-weight:bold;
		vertical-align:center;
		background-color: rgba(255,255,0,0.2);
	}
	.title-right{
		font-size: 16px;
		text-align: right;
	}
	span label {
		color:rgb(8, 104, 182);
	}
	
	#realdata-tbody{
		/*width:1020px;*/
		height:350px;
		overflow:auto;
	}
	/*20200210 实现数据表格的隔行换色效果，JQUery+css结构伪类实现*/
	tr:nth-child(even){
		background-color: #87CEFA;
	}
	.condition{
		/*font-size: 14px;
		margin: 5px;*/
		height: 35px;
		line-height: 35px;
	}
	.btn{
		height:30px
	}
	.select_text{
		width: 300px;
		
	}
	/**控制显示区域*/
	.displaytype1{
		background-color: #dcdcdc; 
		height:600px;
		margin: 10px;
		margin-left: 20px; 
	}
	.displaytype2{
		background-color: #dcdcdc; 
		height:280px;
		margin: 10px;
		margin-left: 20px; 
	}
	.btn-primary{
		background-color: rgba(0, 101, 105, 1);
		border-color: rgba(8, 177, 106, 0.5);
	}
	.btn-primary.active{
		background-color: rgb(14, 150, 93);
	}
	.btn-primary.active.focus,
	.btn-primary.active:focus,
	.btn-primary.active:hover,
	.btn-primary:active.focus,
	.btn-primary:active:focus,
	.btn-primary:active:hover
	{
		background-color: rgb(14, 150, 93);
	}
	