	/*多种选择器介绍：通用*{}，类型 p{}，类.classname{},代码 #id{}，子选择器 div>p{},后继选择器 div p{}，多个选择器可以用逗号分隔。
	*元素：head，body，div，h1，ul，li，ol，p，b，span，table，tr，td，input，a，image，br，pre，i，
	*/
	*{
       margin:0px;
       padding:0px;
    }
	body{
		background-color:#ffFFFF;
		color:#000;
	}
	.mainarea{
		position:relative;
		height:100%;
		/*/height:700px;
		margin-left:10px;
		width:100%;*/
		background:#ffffff;
		border-style:solid;
		border-width:1px 1px 1px 1px;
		border-color:#eeb0b0;
	}
	/**顶部系统条	*/
	.topbar{
		background-color:#00706B;/*国电绿*/
		height:80px;
		line-height:80px;
		vertical-align:center;
	}
	/**顶部系统椭圆形按钮	*/
	.topbar-bigbutton{
		float:right;
		border-radius: 50%;
		border: none;
		background:#008B8B;
		height:60px;
		width:80px;
		margin-right:30px;
		position:relative;
		font-size:14px;
		color:white;
	}
        /* border-radius */
	/*导航条（水平）*/
	.row-navigation{
		background:#adf7b8;
		vertical-align:center;
		width:100%;
		height:30px;
		line-height: 30px;
	}
	.count_info,.pc-nav{
		display:inline;
		vertical-align:center;
	}
	.count_info li,.pc-nav li {
		display:inline;
		top:5px;
		padding:0px;
		vertical-align:center;
		margin:5px;
	}
	.row{
		background:#adf7b8;
		vertical-align:center;
		width:100%;
		height:30px;
		line-height: 30px;
	}
	.pagecard{
		background:#eee0e0;
		vertical-align:center;
		height:30px;
		line-height:30px;
		left-side:20px;
	}
	.pc-footer{
		background-color:#eeb0b0;
	}
	.pc-footer li {
		display: inline;
		color: #FFFFFF;
		padding: 2px 3px;
		text-decoration: none;
		vertical-align:center;
	} 
	
	li a,table a {
		/*display: inline;		hzalign:center;*/
		color: #000;
		padding: 2px 3px;
		margin: 10px 10px;
		text-decoration: none;
	}
	li{
		/*display: inline;hzalign:center;*/
		color: #000;
		padding: 2px 3px;
		margin: 0px 0px;
		
		text-decoration: none;
	}
	/* 鼠标移动到选项上修改背景颜色 margin:5px;*/
	li a:hover {
		background-color: #555;
		color: white;
	}
	table {
		/*设置相邻单元格的边框间的距离*/
		border-spacing: 0;
		/*表格设置合并边框模型*/
		border-collapse: collapse;
		text-align: center;
	}
	table a:hover {
		background-color: #555;
		color: white;
	}
	th,td{
        border:1px solid black;
        text-align:center;
        line-height:center;
        width:100px;/**/
		height:30px;
		font-size:20px;
    }
   	.pagecard{
		background:#eee0e0;
		vertical-align:center;
		height:30px;
		line-height:30px;
		left-side:20px;
	}
	.table{
		border:0px;
		cellspacing:1px;
		cellpadding:4px;
		bgcolor:#fff;
		align:center;
	}
	.table-lable{
		color:#0000b0;
		font-size:20px;
		line-height:50px;
		margin-left:20px;

	}
	#leftmenu{
		position:relative;
		float:left;
		align:center;
		width:100%;
		height:100%;/*height:700px;*/
		border-style:solid;
		border-width:0px 0px 0px 0px;
		border-color:#eeb0b0;
	}
	/* KeFuDiv */
	.KeFuDiv{
		position:absolute;
		height:50px;
		width:500px;
		background: #FFFF00;
		color:#000;
		font-size:16px;
		text-align: center;
		cursor: pointer;
		border-radius: 50%;
		vertical-align:center;
		overflow:hidden;
	}
	.KeFuDiv p{
		line-height: 50px;
		font-weight:bold;
	}
	.condition {
		color:#0000b0;
		font-size:20px;
		border:0px;
	}
	.button{
		width:60px;
		font-size:18px;
		background-image:url(../res/jianbian_orange.jpg);
	}
	/**多标签页面格式*/
	#h2,#h1,#h3,#h4,#h5 {
		border-top: solid cornflowerblue 1px;
		border-left: solid cornflowerblue 1px;
		border-right: solid cornflowerblue 1px;
		width: 150px;
		height: 40px;
		margin: 0;
		float: left;
		text-align: center;
		line-height: 40px;
	}
	.tab-head{
		display: inline;
	}
	.tab-content {
		border: solid cornflowerblue 1px;
		width: 100%;
	}
	.selected {
		background-color: cornflowerblue;
	}
	.tab-div {
		display:none;
	}
	.tab-content .tab-div{
		display: none;
		}
	.tab-content .show{
		display: flex;
	}
	.parent{
		display: flex;
		overflow: auto;
	}
	.column{
		flex: 1;
		box-align:center;
	}
	.column+ .column{margin-left: 20px;}
	.zlchart{
		margin-top:20px;
		width:300px;
		height:300px;
		border: solid cornflowerblue 0px;
	}
	.zltable{
		margin-top:10px;
	}
	
	